{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        {#<div class="date">
            <date class="picker col-md-2">
                <input type="text" class="form-control" id="datepicker">
            </date>
        </div>#}

        {% for number,day in ['Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'] %}
            <div class="col-md-2 cols">
                <div class="titre">
                    <span>{{ day }}</span><br>
                    <span class="day">
                        {% if number == 0 %}
                            26 Février 2018
                        {% elseif number == 1 %}
                            27 Février 2018
                        {% elseif number == 2 %}
                            28 Février 2018
                        {% elseif number == 3 %}
                            01 Mars 2018
                        {% elseif number == 4 %}
                            02 Mars 2018
                        {% elseif number == 5 %}
                            03 Mars 2018
                        {% endif %}
                    </span>
                </div>
                <div class="planning">

                    {% for hour in 8..20 %}
                        <div class="space-event">
                            {% if day == 'Lundi' %}
                                <span class="hour">{{ hour }}:00</span>
                            {% endif %}
                            {% if day == 'Lundi' and hour == 8 %}
                                <div class="event">
                                    {#<span class="current-hour">
                                        8:00
                                    </span>#}
                                    <span class="categorie-event">
                                        test
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}